# Модели
*.pt
*.pth
*.safetensors
*.onnx
*.pkl
*.h5

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Данные
data/*.csv
!data/examples.csv

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

